<div class="container">
  <h1>Here is the detail of <%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <h5><%= @restaurant.category %></h5>
  <h4><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %></h4>
  <h3>What they say about this restaurant:</h3>
  <ul class="list-unstyled">
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %> |
      rating: <%= review.rating %>
    </li>
  <% end %>
</ul>

</div>
